* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(208, 179, 221), white);
}

h1 {
    text-decoration: underline;
}

.card {
    width: 80%;
    max-width: 700px;
    background-color: white;
    padding: 15px 10px 25px 25px;
    border-radius: 6px;
}

.card-body {
    padding: 0px;
}

blockquote {
    margin: 0;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
    background-color: rgb(208, 179, 221);
    padding: 5px;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(208, 179, 221);
    font-size: 1rem;
    display: block;

}

.blockquote {
    font-weight: 900;
    font-size: 1.5rem;
}